In [1]:
a = [10, 20, 30]

In [2]:
b = a

In [3]:
b

[10, 20, 30]

In [4]:
type(b)

list

In [5]:
type(a)

list

In [6]:
b[1] = 200

In [7]:
b

[10, 200, 30]

In [8]:
a # 잉? 안바꿧는데 b가 바껴서 바뀜, 복사의 잘못된 예

[10, 200, 30]

In [9]:
from copy import copy # copy 사용하면 위 문제 해결

In [10]:
a = [10, 20, 30]

In [12]:
b = a.copy()

In [13]:
b

[10, 20, 30]

In [14]:
b[1] = 300

In [15]:
b

[10, 300, 30]

In [16]:
a

[10, 20, 30]

In [17]:
a == b

False

In [18]:
c = {1:100, 2:200, 3:300}

In [20]:
d=c

In [21]:
del c[1]

In [22]:
c

{2: 200, 3: 300}

In [24]:
d # 역시 d도 같이 지워지네

{2: 200, 3: 300}

In [25]:
c == d

True

In [26]:
c = {1:100, 2:200, 3:300}

In [27]:
d = c.copy()

In [28]:
del c[1]

In [29]:
c

{2: 200, 3: 300}

In [30]:
d

{1: 100, 2: 200, 3: 300}

In [31]:
d==c

False

In [32]:
e = {1, 3, 5}

In [33]:
e

{1, 3, 5}

In [34]:
f = e

In [35]:
e.remove(1)

In [36]:
e

{3, 5}

In [37]:
f

{3, 5}

In [38]:
e == f # 집합에서도 카피 에러

True

In [39]:
e = {1, 3, 5}

In [42]:
f = e.copy()

In [43]:
e.remove(3)

In [44]:
f==e

False

In [45]:
e

{1, 5}

In [46]:
f

{1, 3, 5}

In [47]:
a = 'abcd'

In [48]:
b = [1, 2, 3, 4]

In [49]:
for x in a:
    print(x)

a
b
c
d

In [50]:
for x in b:
    print(x)

1
2
3
4

In [52]:
# zip - for 문에서 여러개 인수를....
for x, y in zip(a, b): # 1:1 매치
    print(x, y)

a 1
b 2
c 3
d 4

In [53]:
ab = dict(zip(a,b)) # dict에서도 사용하기 좋다

In [54]:
ab

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [55]:
type(ab)

dict

In [56]:
a

'abcd'

In [57]:
b

[1, 2, 3, 4]

In [58]:
c = [10, 20, 30, 40]

In [59]:
for x, y, z in zip(a, b, c): # 1:1 이면 수 제한 없음
    print(x, y, z)

a 1 10
b 2 20
c 3 30
d 4 40

In [60]:
a

'abcd'

In [62]:
for x in a:
    print(a)

abcd
abcd
abcd
abcd

In [63]:
for i, x in enumerate(a): # enumerate 위치정보 부여 - 기본 0
    print(i, x)

0 a
1 b
2 c
3 d

In [64]:
for i , x in enumerate(a, 10): # 10 부터 시작해라
    print(i, x)

10 a
11 b
12 c
13 d

In [65]:
d = dict(enumerate(a, 1)) # 딕셔너리에서도 가능

In [66]:
d

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [67]:
e = ['홍길동', '홍길순', '아무개']

In [68]:
for i, x in enumerate(e, 1):
    print(i, x)

1 홍길동
2 홍길순
3 아무개

In [72]:
f = dict(enumerate(e, 1))

In [73]:
type(f)

dict

In [74]:
f

{1: '홍길동', 2: '홍길순', 3: '아무개'}

In [75]:
g = '빅데이터 머신러닝 인공지능'

In [76]:
h = dict(enumerate(g, 1))

In [77]:
h

{1: '빅',
 2: '데',
 3: '이',
 4: '터',
 5: ' ',
 6: '머',
 7: '신',
 8: '러',
 9: '닝',
 10: ' ',
 11: '인',
 12: '공',
 13: '지',
 14: '능'}

In [78]:
g = '빅데이터 머신러닝 인공지능'.split()

In [82]:
h = dict(enumerate(g, 1))

In [84]:
h

{1: '빅데이터', 2: '머신러닝', 3: '인공지능'}