In [1]:
import pandas as pd

In [2]:
a = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40, 'e' : 50}

In [3]:
a

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [4]:
b = pd.Series(a)

In [5]:
b

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
type(b)

pandas.core.series.Series

In [7]:
c = b / 10

In [8]:
c

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [9]:
c = b // 10

In [10]:
c

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
type(c)

pandas.core.series.Series

In [12]:
d = b + c

In [13]:
d

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [14]:
e = {'a' : 10, 'c' : 20, 'e' : 30 , 'g' : 40}

In [15]:
e

{'a': 10, 'c': 20, 'e': 30, 'g': 40}

In [16]:
f = pd.Series(e)

In [17]:
f

a    10
c    20
e    30
g    40
dtype: int64

In [18]:
d + f # 한쪽에만 있는 값은 계산이 안됨

a    21.0
b     NaN
c    53.0
d     NaN
e    85.0
g     NaN
dtype: float64

In [19]:
d.add(f, fill_value = 0 ) # 한쪽에만 있으면 없는 경우를 0으로 처리

a    21.0
b    22.0
c    53.0
d    44.0
e    85.0
g    40.0
dtype: float64

In [20]:
d.sub(f, fill_value =0)

a     1.0
b    22.0
c    13.0
d    44.0
e    25.0
g   -40.0
dtype: float64

In [21]:
d.mul(f, fill_value = 1) # 0으로 하면 어차피 곱이 0 이어서 의미 없다

a     110.0
b      22.0
c     660.0
d      44.0
e    1650.0
g      40.0
dtype: float64

In [22]:
d.div(f, fill_value = 1) # 나누는 값이 0이면 0 이나 무한대 조심

a     1.100000
b    22.000000
c     1.650000
d    44.000000
e     1.833333
g     0.025000
dtype: float64